html {
    font-family: 'Barlow Semi Condensed', Arial;
}

body{
    margin: 0;
}

header {
    padding: 1em 0;
    background-color: #fff;
    background-size: cover;

}

h1 {

    margin: 0;
    text-align: center;
}

#nav {
    overflow: hidden;
    background-color: #F3F3F3;/*rgba(196, 196, 196, 0.21) ;*/
    width: 100%;
    padding: 30px 10px; /* Large padding which will shrink on scroll (using JS) */
    margin: 0;
    list-style-type: none;
    text-align: center;
    position: fixed; /* Sticky/fixed navbar */
    top: 0; /* At the top */

    transition: 0.4s; /* Adds a transition effect when the padding is decreased */

}
#logo {
    height: 120px;
    margin: auto;
    width: auto;
    vertical-align: middle;
    transition: 0.4s;

}
#navbar{
    display: inline-block;
    font-size: 30px;
    transition: 0.4s;
}

#nav li{
    display: inline-block;


}

#nav a {
    vertical-align: middle;
    color: #4B5E45;
    display: inline-block;
    padding: 0.5em 2em;
    text-decoration: none;

}
#nav a:hover{
    background-color: #4B5E45;
}



/* Create a sticky/fixed navbar */
#navbar {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 90px 10px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 99;
}

.images {
    margin-top: 200px;
}