* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

#header {
    position: fixed;
    width: 100%;
    overflow: hidden;
}
.topnav {
    position: relative;
    overflow: hidden;
    background-color: #F2F2F2;
    width: 100%;
    min-height: 9rem;
}
.topnav a.burger {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 40px;
    text-decoration: none;
    font-size: 2rem;
    color: #4B5E45;
}
.topnav ul {
    width: calc(100% - 200px);
    min-height: 9rem;
    margin: 0 65px;
}
.topnav ul li:nth-child(2) {
    margin-right: 200px;
}
.topnav ul li {
    display: flex;
    justify-content: center;
}
.topnav ul li a {
    color: #4B5E45;
    font-size: 30px;
    font-family: 'Barlow Semi Condensed', Arial, sans-serif;
    font-weight: 100;
    text-decoration: none;
    display: block;
    padding: 10px 3px;
}
.topnav ul li a:hover {
    color: #A0C693;
}
.topnav > a img {
    position: absolute;
    left: 41%;
    height: 120px;
    width: auto;
    margin-top: 2px;
    padding: 10px;
}
@media screen and (max-width: 1024px) {
    .topnav .logo {
        position: absolute;
        left: 0;
    }
    .topnav a.burger {
        display: block;
    }
    .topnav ul li {
        display: none;
    }
    .topnav.responsive ul li {
        float: none;
        display: block;
        width: 100%;
    }
}
@media screen and (min-width: 1024px) {
    .topnav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
