* {
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}

.body

header {
  background-color: #fff;
  background-size: cover;
}

.topbar {
  width: 100%;
  margin: 0 auto;
  position: fixed;
}

.logo {
  height: 120px;
  margin: auto;
  width: auto;
  vertical-align: middle;
}

.main-topbar {
  margin-top: 0px;
  background: rgba(196, 196, 196, 0.21)
}

.main-topbar li {
  display: inline-block;
  list-style: none;
  margin-left: 50px;
}

.main-topbar li a {
  color: #4B5E45;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Barlow Semi Condenced', Arial;
  margin: 10px 75px;
}
