/* generelt */
html {
  font-family: 'Barlow Semi Condensed', Arial, sans-serif;
}

body {
  font-family: 'Barlow Semi Condensed', Arial, sans-serif;
  font-style: normal;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  font-weight: 300;
  font-size: 95px;
  line-height: 115px;
  text-align: center;
  text-decoration: none;
  padding-top: 3%;
  padding-bottom: 3%;
}

/* meny */

/* informasjon */
#text {
  font-size: 32px;
  line-height: 38px;
  width: 80%;
  margin: auto;
  align-items: center;

  color: #4B5E45;
}

a:link {
  color: #4B5E45;
}


a:visited {
  color: #4B5E45;
}

a:hover {
  color: #A0C693;
}

ul{
  text-align: center;
  list-style: none;
}
