* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

#header {
    position: sticky;
    width: 100%;
    overflow: hidden;
}
.topnav {
    position: relative;
    overflow: hidden;
    background-color: #F2F2F2;
    width: 100%;
    min-height: 9rem;
}
.topnav a.burger {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 40px;
    text-decoration: none;
    font-size: 2rem;
    color: #4B5E45;
}
.topnav ul {
    width: calc(100% - 200px);
    min-height: 9rem;
    margin: 0 108px;
}
.topnav ul li:nth-child(2) {
    margin-right: 200px;
}
.topnav ul li {
    display: flex;
    justify-content: center;
}
.topnav ul li a {
    color: #4B5E45;
    font-size: 30px;
    font-family: 'Barlow Semi Condensed', Arial, sans-serif;
    font-weight: 100;
    text-decoration: none;
    display: block;
    padding: 10px 3px;
}
.topnav ul li a:hover {
    color: #A0C693;
}
.topnav > a img {
    position: absolute;
    left: 41%;
    height: 120px;
    width: auto;
    margin-top: 2px;
    padding: 10px;
}
@media screen and (max-width: 1024px) {
    .topnav .logo {
        position: absolute;
        left: 0;
    }
    .topnav a.burger {
        display: block;
    }
    .topnav ul li {
        display: none;
    }

    .topnav.responsive ul {
      margin-top: 144px;
      padding-bottom: 30px;
    }

    .topnav.responsive ul li {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }
}
@media screen and (min-width: 1024px) {
    .topnav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
/* Front images (slideshow) on the frontpage*/
.images {
  z-index: -1;
}

.front_images {
  display: none;
  animation-name: front_images;
  animation-duration: 3s;
}

@keyframes front_images {
  from {opacity: 0.5}
  to {opacity: 1}
} 



/*footer stick to the bottom*/

#footer {  
  background-color: #F1F1F1;
  font-family: 'Barlow Semi Condensed', Arial, sans-serif;
  color: #4B5E45;
  height: 155px;
  width: 100%;
  display: flex;
  bottom: 0;
  justify-content: space-between;

}

#footer>div {
  margin:1rem 10%;
}

#footer>div>div {
  display:flex;

}

/*åpningstider i footer*/
#apningstider_footer {
  display: inline-block;
  position: sticky;
  margin-top: 47px!important;
    margin-right: 80px;

}

/*kontaktinfo i footer*/
#kontakt {
  display: inline-block;
    position: sticky;

  margin-top: 15px!important;

}

a:link, a:visited {
  color: #4B5E45;
}

a:hover {
  color: #A0C693;
}

/*social media ikoner i footer*/
.buttons {
  display: inline;
}

#instagram {
  position: relative;
  width: 28px;
  height: 27px;
    top: 5px;
}

#facebook {
  position: relative;
  width: 28px;
  height: 27px;
    top: 4px;

}
