* {
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  position: sticky;
  width: 100%;
  min-height: 120px;
  background-color: #F2F2F2;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.logo {
  height: 120px;
  margin: auto;
  width: auto;
  vertical-align: middle;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #4B5E45;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-wight: 200;
  margin: 10px 74px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #4B5E45;
  margin: 5px;
}

/*@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}*/

@media screen and (max-width: 1024px) {
    body {
      overflow-x: hidden;
    }
    .nav-links {
      position: absolute;
      right: 0px;
      height: 92vh;;
      top: 8vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      background-color: #F2F2F2;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
    }
    .nav-links li {
      opacity: 0;
    }

    .nav-links li:nth-child(3) {
      display: none;
    }

    .burger {
      display: block;
    }
  }

  .nav-active {
    transform: translateX(0%);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
}

.front_images {
  display: none;
  animation-name: front_images;
  animation-duration: 3s;
}

@keyframes front_images {
  from {opacity: 0.5}
  to {opacity: 1}
}

/* forside */
.buttons {
  display: inline;
}

#instagram, #facebook {
  width: 2%;
  height: 2%;
}

/*footer*/

footer {
  background-color: rgba(196, 196, 196, 0.21);
  font-family: 'Barlow Semi Condensed', Arial, sans-serif;
  color: #4B5E45;

  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;

  padding: 30px 40px;

}

a:link, a:visited {
  color: #4B5E45;
}

a:hover {
  color: #A0C693;
}

#apningstider_footer {
  display: inline-block;

}

/* Har endret .button og #instagram, #facebook sånn at de står rett ved siden av hverandre */
.buttons {
  display: inline;
  vertical-align: top;
  padding-left: 8px;
}

#instagram, #facebook {
  width: 28px;
  height: 27px;
}

#kontakt {
  display: inline-block;
}
