* {
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  position: relative;
}

header {
  background-color: #fff;
  background-size: cover;
}

.topbar {
  width: 100%;
  margin: 0 auto;
  position: sticky;
}

.logo {
  height: 120px;
  margin: auto;
  width: auto;
  vertical-align: middle;
}

.main-topbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
}
/* .main-topbar {
  margin-top: 0px;
  background: rgba(196, 196, 196, 0.21)
}

.main-topbar li {
  display: inline-block;
  list-style: none;
  margin-left: 34px;
}

.main-topbar li a {
  color: #4B5E45;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Barlow Semi Condensed', Arial;
  margin: 10px 0%;
} */

.front_images {
  display: none;
  animation-name: front_images;
  animation-duration: 3s;
}

@keyframes front_images {
  from {opacity: 0.5}
  to {opacity: 1}
}


/*footer stick to the bottom*/

footer {
  background-color: rgba(196, 196, 196, 0.21);
  font-family: 'Barlow Semi Condensed', Arial, sans-serif;
  color: #4B5E45;

  width: 100%;
  height: 20%;

  position: absolute;
  bottom: 0;
}

/*åpningstider i footer*/
#apningstider_footer {
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 25%;
}

/* kontaktinfo i footer*/
#kontakt {
  display: inline-block;
  position: absolute;
  left: 10%;
  bottom: 25%;
}

a:link, a:visited {
  color: #4B5E45;
}

a:hover {
  color: #A0C693;
}

/* social media icons i footer*/
.buttons {
  display: inline;
  vertical-align: top;
}

#instagram {
  position: absolute;
  left: 10%;
  bottom: 70%;
  width: 28px;
  height: 27px;
}

#facebook {
  position: absolute;
  left: 12.5%;
  bottom: 70%;
  width: 28px;
  height: 27px;
}
