body {
  background-color: #DDDDDD;
}

article {
  text-align: left;
  font-family: Georgia, Verdana;
  font-size: 18px;
  color: #323232;
  width: 80ch;
  margin: auto;
}

h1 {
  font-size: 35px;
}

h2 {
  text-align: left;
  font-family: Georgia, Verdana;
  font-size: 20px;
}

p {
  text-align: left;
  font-family: Georgia, Verdana;
}
footer {
  font-style: italic;
}

.line {
  border-style: solid;
  border-color: grey;
}

.line2 {
  border-top: 2px dashed darkgrey;
}
