body {
  background-color: #DDDDDD;
}

article {
  font-family: Georgia, Verdana, serif;
  font-size: 18px;
  width: 50%;
  margin: auto;
}

h1 {
  font-size: 35px;
  text-align: center;
}

.box {
  border-style: groove;
  padding: 20px;
}

footer {
  padding: 20px;
  font-size: 15px;
  text-align: center;
}

#footer-logo {
  text-align: center;
}
